PORT=8083
SERVICE_ACCOUNT=../../firebase-admin-sdk.json
RESEND_API_KEY=re_37p9fSD2_FCSyR7zNE7utrW9jcs2sNcbA
EMAIL_ADDRESS=newsletter_email_address
NEWSLETTER_ENCRYPTION_KEY=your_encryption_key # This should be a 32-byte base64 encoded string (run: openssl rand -base64 32)
BASE_URL=http://localhost:8080
